@import "sanitize";


/* ==========================================================================
Estilos principales GitHub Jorge Aznar
========================================================================== */

.titulo-principal {
	font-family: "din-condensed-web",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #001F3F;
	font-size: 40px;
}

.titulo-proyectos {
	font-size: 24px;
	font-family: "effra",sans-serif;
	font-style: normal;
	font-weight: 500;
	color: #85144B;
}