header {
width:100%;
background-color:beige;
}

nav {
width:255px;
margin: 0 auto;
padding:2em;
}

.first {
width:100%;
background-color:crimson;
}

.second {
width:100%;
background-color:khaki;
}

.three {
width:100%;
background-color:crimson;
font-family: "aw-conqueror-carved-one",sans-serif;
font-style: normal;
font-weight: 400;
}

.title {
text-align:center;
margin:0;
padding:1em;
}

.enlaces {
text-align:center;
display:block;
text-decoration:none;

font-family: "proxima-nova-alt",sans-serif;
font-style: normal;
font-weight: 700;
}

.animacion {
width:30%;
margin:0;
padding:0;
}