header {
width:100%;
background-color:beige;
}

nav {
width:255px;
margin: 0 auto;
padding:2em;
}

.first {
width:100%;
background-color:#7AD7EE;
}

.second {
width:100%;
background-color:#6BCCB4;
}

.three {
width:100%;
background-color:#FFFED8;
font-family: "modesto-expanded",sans-serif;
font-style: normal;
font-weight: 400;
}

.title {
text-align:center;
margin:0;
padding:1em;
}

.botones-centrar {
width: 80%;
margin: 0 auto;
text-align: center;
}

.enlaces {
text-align:center;
color:snow;
border:1px solid snow;
border-radius: 5px;
padding: 1em;
display:inline-block;
text-decoration:none;
background-color: #FF1B79;
font-family: "proxima-nova-alt",sans-serif;
font-style: normal;
font-weight: 700;
letter-spacing: 1px;
margin:2.5em;
}

.enlaces:hover {
background-color: #D6145F;
}

.icons {
background-color:#EB7E7F;
}


