@font-face {
    font-family: 'prototypo-regular';
    src: url('http://jorgeatgu.com/font/scalable-webfont.eot');
    src: url('http://jorgeatgu.com/font/scalable-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://jorgeatgu.com/font/scalable-webfont.woff') format('woff'),
         url('http://jorgeatgu.com/font/scalable-webfont.ttf') format('truetype'),
         url('http://jorgeatgu.com/font/scalable-webfont.svg#prototypo-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'NexaBold';
    src: url('http://jorgeatgu.com/font/nexa_bold-webfont.eot');
    src: url('http://jorgeatgu.com/font/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://jorgeatgu.com/font/nexa_bold-webfont.woff') format('woff'),
         url('http://jorgeatgu.com/font/nexa_bold-webfont.ttf') format('truetype'),
         url('http://jorgeatgu.com/font/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
