$colors: (

  aliceblue: (
    base: aliceblue,
    light: lighten(aliceblue, 10%)
  ),

  antiquewhite: (
    base: antiquewhite,
    light: lighten(antiquewhite, 10%)
  ),
  aqua: (
    base: aqua,
    light: lighten(aqua, 10%)
  ),
  aquamarine: (
    base: aquamarine,
    light: lighten(aquamarine, 10%)
  ),
  azure: (
    base: azure,
    light: lighten(azure, 10%)
  ),
  beige: (
    base: beige,
    light: lighten(beige, 10%)
  ),
  bisque: (
    base: bisque,
    light: lighten(bisque, 10%)
  ),
  black: (
    base: black,
    light: lighten(black, 10%)
  ),
  blanchedalmond: (
    base: blanchedalmond,
    light: lighten(blanchedalmond, 10%)
  ),
  blue: (
    base: blue,
    light: lighten(blue, 10%)
  ),
  blueviolet: (
    base: blueviolet,
    light: lighten(blueviolet, 10%)
  ),
  brown: (
    base: brown,
    light: lighten(brown, 10%)
  ),
  burlywood: (
    base: burlywood,
    light: lighten(burlywood, 10%)
  ),
  cadetblue: (
    base: cadetblue,
    light: lighten(cadetblue, 10%)
  ),
  chartreuse: (
    base: chartreuse,
    light: lighten(chartreuse, 10%)
  ),
  chocolate: (
    base: chocolate,
    light: lighten(chocolate, 10%)
  ),
  coral: (
    base: coral,
    light: lighten(coral, 10%)
  ),
  cornflowerblue: (
    base: cornflowerblue,
    light: lighten(cornflowerblue, 10%)
  ),
  cornsilk: (
    base: cornsilk,
    light: lighten(cornsilk, 10%)
  ),
  crimson: (
    base: crimson,
    light: lighten(crimson, 10%)
  ),
  darkblue: (
    base: darkblue,
    light: lighten(darkblue, 10%)
  ),
  darkcyan: (
    base: darkcyan,
    light: lighten(darkcyan, 10%)
  ),
  darkgoldenrod: (
    base: darkgoldenrod,
    light: lighten(darkgoldenrod, 10%)
  ),
  darkgray: (
    base: darkgray,
    light: lighten(darkgray, 10%)
  ),
  darkgreen: (
    base: darkgreen,
    light: lighten(darkgreen, 10%)
  ),
  darkkhaki: (
    base: darkkhaki,
    light: lighten(darkkhaki, 10%)
  ),
  darkmagenta: (
    base: darkmagenta,
    light: lighten(darkmagenta, 10%)
  ),
  darkolivegreen: (
    base: darkolivegreen,
    light: lighten(darkolivegreen, 10%)
  ),
  darkorange: (
    base: darkorange,
    light: lighten(darkorange, 10%)
  ),
  darkorchid: (
    base: darkorchid,
    light: lighten(darkorchid, 10%)
  ),
  darkred: (
    base: darkred,
    light: lighten(darkred, 10%)
  ),
  darksalmon: (
    base: darksalmon,
    light: lighten(darksalmon, 10%)
  ),
  darkseagreen: (
    base: darkseagreen,
    light: lighten(darkseagreen, 10%)
  ),
  darkslateblue: (
    base: darkslateblue,
    light: lighten(darkslateblue, 10%)
  ),
  darkslategray: (
    base: darkslategray,
    light: lighten(darkslategray, 10%)
  ),
  darkturquoise: (
    base: darkturquoise,
    light: lighten(darkturquoise, 10%)
  ),
  darkviolet: (
    base: darkviolet,
    light: lighten(darkviolet, 10%)
  ),
  deeppink: (
    base: deeppink,
    light: lighten(deeppink, 10%)
  ),
  deepskyblue: (
    base: deepskyblue,
    light: lighten(deepskyblue, 10%)
  ),
  dimgray: (
    base: dimgray,
    light: lighten(dimgray, 10%)
  ),
  dodgerblue: (
    base: dodgerblue,
    light: lighten(dodgerblue, 10%)
  ),
  firebrick: (
    base: firebrick,
    light: lighten(firebrick, 10%)
  ),
  floralwhite: (
    base: floralwhite,
    light: lighten(floralwhite, 10%)
  ),
  forestgreen: (
    base: forestgreen,
    light: lighten(forestgreen, 10%)
  ),
  fuchsia: (
    base: fuchsia,
    light: lighten(fuchsia, 10%)
  ),
  gainsboro: (
    base: gainsboro,
    light: lighten(gainsboro, 10%)
  ),
  ghostwhite: (
    base: ghostwhite,
    light: lighten(ghostwhite, 10%)
  ),
  gold: (
    base: gold,
    light: lighten(gold, 10%)
  ),
  goldenrod: (
    base: goldenrod,
    light: lighten(goldenrod, 10%)
  ),
  gray: (
    base: gray,
    light: lighten(gray, 10%)
  ),
  green: (
    base: green,
    light: lighten(green, 10%)
  ),
  greenyellow: (
    base: greenyellow,
    light: lighten(greenyellow, 10%)
  ),
  honeydew: (
    base: honeydew,
    light: lighten(honeydew, 10%)
  ),
  hotpink: (
    base: hotpink,
    light: lighten(hotpink, 10%)
  ),
  indianred: (
    base: indianred,
    light: lighten(indianred, 10%)
  ),
  indigo: (
    base: indigo,
    light: lighten(indigo, 10%)
  ),
  ivory: (
    base: ivory,
    light: lighten(ivory, 10%)
  ),
  khaki: (
    base: khaki,
    light: lighten(khaki, 10%)
  ),
  lavender: (
    base: lavender,
    light: lighten(lavender, 10%)
  ),
  lavenderblush: (
    base: lavenderblush,
    light: lighten(lavenderblush, 10%)
  ),
  lawngreen: (
    base: lawngreen,
    light: lighten(lawngreen, 10%)
  ),
  lemonchiffon: (
    base: lemonchiffon,
    light: lighten(lemonchiffon, 10%)
  ),
  lightblue: (
    base: lightblue,
    light: lighten(lightblue, 10%)
  ),
  lightcoral: (
    base: lightcoral,
    light: lighten(lightcoral, 10%)
  ),
  lightcyan: (
    base: lightcyan,
    light: lighten(lightcyan, 10%)
  ),
  lightgoldenrodyellow: (
    base: lightgoldenrodyellow,
    light: lighten(lightgoldenrodyellow, 10%)
  ),
  lightgray: (
    base: lightgray,
    light: lighten(lightgray, 10%)
  ),
  lightgreen: (
    base: lightgreen,
    light: lighten(lightgreen, 10%)
  ),
  lightpink: (
    base: lightpink,
    light: lighten(lightpink, 10%)
  ),
  lightsalmon: (
    base: lightsalmon,
    light: lighten(lightsalmon, 10%)
  ),
  lightseagreen: (
    base: lightseagreen,
    light: lighten(lightseagreen, 10%)
  ),
  lightskyblue: (
    base: lightskyblue,
    light: lighten(lightskyblue, 10%)
  ),
  lightslategray: (
    base: lightslategray,
    light: lighten(lightslategray, 10%)
  ),
  lightsteelblue: (
    base: lightsteelblue,
    light: lighten(lightsteelblue, 10%)
  ),
  lightyellow: (
    base: lightyellow,
    light: lighten(lightyellow, 10%)
  ),
  lime: (
    base: lime,
    light: lighten(lime, 10%)
  ),
  limegreen: (
    base: limegreen,
    light: lighten(limegreen, 10%)
  ),
  linen: (
    base: linen,
    light: lighten(linen, 10%)
  ),
  maroon: (
    base: maroon,
    light: lighten(maroon, 10%)
  ),
  mediumaquamarine: (
    base: mediumaquamarine,
    light: lighten(mediumaquamarine, 10%)
  ),
  mediumblue: (
    base: mediumblue,
    light: lighten(mediumblue, 10%)
  ),
  mediumorchid: (
    base: mediumorchid,
    light: lighten(mediumorchid, 10%)
  ),
  mediumpurple: (
    base: mediumpurple,
    light: mediumpurple(lightcyan, 10%)
  ),
  mediumseagreen: (
    base: mediumseagreen,
    light: lighten(mediumseagreen, 10%)
  ),
  mediumslateblue: (
    base: mediumslateblue,
    light: lighten(mediumslateblue, 10%)
  ),
  mediumspringgreen: (
    base: mediumspringgreen,
    light: lighten(mediumspringgreen, 10%)
  ),
  mediumturquoise: (
    base: mediumturquoise,
    light: lighten(mediumturquoise, 10%)
  ),
  mediumvioletred: (
    base: mediumvioletred,
    light: lighten(mediumvioletred, 10%)
  ),
  midnightblue: (
    base: midnightblue,
    light: lighten(midnightblue, 10%)
  ),
  mintcream: (
    base: mintcream,
    light: lighten(mintcream, 10%)
  ),
);
