$colors: (

  aliceblue: (
    base: #F0F8FF,
    light: lighten(#F0F8FF, 10%)
  ),

  antiquewhite: (
    base: #FAEBD7,
    light: lighten(#FAEBD7, 10%)
  ),
  aqua: (
    base: #00FFFF,
    light: lighten(#00FFFF, 10%)
  ),
  aquamarine: (
    base: #7FFFD4,
    light: lighten(#7FFFD4, 10%)
  ),
  azure: (
    base: azure,
    light: lighten(azure, 10%)
  ),
  beccapurple: (
    base: #663399,
    light: lighten(#663399, 10%)
  ),
  beige: (
    base: #F5F5DC,
    light: lighten(#F5F5DC, 10%)
  ),
  bisque: (
    base: #F0FFFF,
    light: lighten(#F0FFFF, 10%)
  ),
  black: (
    base: #000,
    light: lighten(#000, 10%)
  ),
  blanchedalmond: (
    base: #FFEBCD,
    light: lighten(#FFEBCD, 10%)
  ),
  blue: (
    base: #0000FF,
    light: lighten(#0000FF, 10%)
  ),
  blueviolet: (
    base: #8A2BE2,
    light: lighten(#8A2BE2, 10%)
  ),
  brown: (
    base: #A52A2A,
    light: lighten(#A52A2A, 10%)
  ),
  burlywood: (
    base: #DEB887,
    light: lighten(#DEB887, 10%)
  ),
  cadetblue: (
    base: #5F9EA0,
    light: lighten(#5F9EA0, 10%)
  ),
  chartreuse: (
    base: #7FFF00,
    light: lighten(#7FFF00, 10%)
  ),
  chocolate: (
    base: #D2691E,
    light: lighten(#D2691E, 10%)
  ),
  coral: (
    base: #FF7F50,
    light: lighten(#FF7F50, 10%)
  ),
  cornflowerblue: (
    base: #6495ED,
    light: lighten(#6495ED, 10%)
  ),
  cornsilk: (
    base: #FFF8DC,
    light: lighten(#FFF8DC, 10%)
  ),
  crimson: (
    base: #DC143C,
    light: lighten(#DC143C, 10%)
  ),
  cyan: {
    base: #00FFFF,
    light: lighten(#00FFFF)
  },
  darkblue: (
    base: darkblue,
    light: lighten(darkblue, 10%)
  ),
  darkcyan: (
    base: darkcyan,
    light: lighten(darkcyan, 10%)
  ),
  darkgoldenrod: (
    base: darkgoldenrod,
    light: lighten(darkgoldenrod, 10%)
  ),
  darkgray: (
    base: darkgray,
    light: lighten(darkgray, 10%)
  ),
  darkgreen: (
    base: darkgreen,
    light: lighten(darkgreen, 10%)
  ),
  darkkhaki: (
    base: darkkhaki,
    light: lighten(darkkhaki, 10%)
  ),
  darkmagenta: (
    base: darkmagenta,
    light: lighten(darkmagenta, 10%)
  ),
  darkolivegreen: (
    base: darkolivegreen,
    light: lighten(darkolivegreen, 10%)
  ),
  darkorange: (
    base: darkorange,
    light: lighten(darkorange, 10%)
  ),
  darkorchid: (
    base: darkorchid,
    light: lighten(darkorchid, 10%)
  ),
  darkred: (
    base: darkred,
    light: lighten(darkred, 10%)
  ),
  darksalmon: (
    base: darksalmon,
    light: lighten(darksalmon, 10%)
  ),
  darkseagreen: (
    base: darkseagreen,
    light: lighten(darkseagreen, 10%)
  ),
  darkslateblue: (
    base: darkslateblue,
    light: lighten(darkslateblue, 10%)
  ),
  darkslategray: (
    base: darkslategray,
    light: lighten(darkslategray, 10%)
  ),
  darkturquoise: (
    base: darkturquoise,
    light: lighten(darkturquoise, 10%)
  ),
  darkviolet: (
    base: darkviolet,
    light: lighten(darkviolet, 10%)
  ),
  deeppink: (
    base: deeppink,
    light: lighten(deeppink, 10%)
  ),
  deepskyblue: (
    base: deepskyblue,
    light: lighten(deepskyblue, 10%)
  ),
  dimgray: (
    base: dimgray,
    light: lighten(dimgray, 10%)
  ),
  dodgerblue: (
    base: dodgerblue,
    light: lighten(dodgerblue, 10%)
  ),
  firebrick: (
    base: firebrick,
    light: lighten(firebrick, 10%)
  ),
  floralwhite: (
    base: floralwhite,
    light: lighten(floralwhite, 10%)
  ),
  forestgreen: (
    base: forestgreen,
    light: lighten(forestgreen, 10%)
  ),
  fuchsia: (
    base: fuchsia,
    light: lighten(fuchsia, 10%)
  ),
  gainsboro: (
    base: gainsboro,
    light: lighten(gainsboro, 10%)
  ),
  ghostwhite: (
    base: ghostwhite,
    light: lighten(ghostwhite, 10%)
  ),
  gold: (
    base: gold,
    light: lighten(gold, 10%)
  ),
  goldenrod: (
    base: goldenrod,
    light: lighten(goldenrod, 10%)
  ),
  gray: (
    base: gray,
    light: lighten(gray, 10%)
  ),
  green: (
    base: green,
    light: lighten(green, 10%)
  ),
  greenyellow: (
    base: greenyellow,
    light: lighten(greenyellow, 10%)
  ),
  honeydew: (
    base: honeydew,
    light: lighten(honeydew, 10%)
  ),
  hotpink: (
    base: hotpink,
    light: lighten(hotpink, 10%)
  ),
  indianred: (
    base: indianred,
    light: lighten(indianred, 10%)
  ),
  indigo: (
    base: indigo,
    light: lighten(indigo, 10%)
  ),
  ivory: (
    base: ivory,
    light: lighten(ivory, 10%)
  ),
  khaki: (
    base: khaki,
    light: lighten(khaki, 10%)
  ),
  lavender: (
    base: lavender,
    light: lighten(lavender, 10%)
  ),
  lavenderblush: (
    base: lavenderblush,
    light: lighten(lavenderblush, 10%)
  ),
  lawngreen: (
    base: lawngreen,
    light: lighten(lawngreen, 10%)
  ),
  lemonchiffon: (
    base: lemonchiffon,
    light: lighten(lemonchiffon, 10%)
  ),
  lightblue: (
    base: lightblue,
    light: lighten(lightblue, 10%)
  ),
  lightcoral: (
    base: lightcoral,
    light: lighten(lightcoral, 10%)
  ),
  lightcyan: (
    base: lightcyan,
    light: lighten(lightcyan, 10%)
  ),
  lightgoldenrodyellow: (
    base: lightgoldenrodyellow,
    light: lighten(lightgoldenrodyellow, 10%)
  ),
  lightgray: (
    base: lightgray,
    light: lighten(lightgray, 10%)
  ),
  lightgreen: (
    base: lightgreen,
    light: lighten(lightgreen, 10%)
  ),
  lightpink: (
    base: lightpink,
    light: lighten(lightpink, 10%)
  ),
  lightsalmon: (
    base: lightsalmon,
    light: lighten(lightsalmon, 10%)
  ),
  lightseagreen: (
    base: lightseagreen,
    light: lighten(lightseagreen, 10%)
  ),
  lightskyblue: (
    base: lightskyblue,
    light: lighten(lightskyblue, 10%)
  ),
  lightslategray: (
    base: lightslategray,
    light: lighten(lightslategray, 10%)
  ),
  lightsteelblue: (
    base: lightsteelblue,
    light: lighten(lightsteelblue, 10%)
  ),
  lightyellow: (
    base: lightyellow,
    light: lighten(lightyellow, 10%)
  ),
  lime: (
    base: lime,
    light: lighten(lime, 10%)
  ),
  limegreen: (
    base: limegreen,
    light: lighten(limegreen, 10%)
  ),
  linen: (
    base: linen,
    light: lighten(linen, 10%)
  ),
  maroon: (
    base: maroon,
    light: lighten(maroon, 10%)
  ),
  mediumaquamarine: (
    base: mediumaquamarine,
    light: lighten(mediumaquamarine, 10%)
  ),
  mediumblue: (
    base: mediumblue,
    light: lighten(mediumblue, 10%)
  ),
  mediumorchid: (
    base: mediumorchid,
    light: lighten(mediumorchid, 10%)
  ),
  mediumpurple: (
    base: mediumpurple,
    light: mediumpurple(lightcyan, 10%)
  ),
  mediumseagreen: (
    base: mediumseagreen,
    light: lighten(mediumseagreen, 10%)
  ),
  mediumslateblue: (
    base: mediumslateblue,
    light: lighten(mediumslateblue, 10%)
  ),
  mediumspringgreen: (
    base: mediumspringgreen,
    light: lighten(mediumspringgreen, 10%)
  ),
  mediumturquoise: (
    base: mediumturquoise,
    light: lighten(mediumturquoise, 10%)
  ),
  mediumvioletred: (
    base: mediumvioletred,
    light: lighten(mediumvioletred, 10%)
  ),
  midnightblue: (
    base: midnightblue,
    light: lighten(midnightblue, 10%)
  ),
  mintcream: (
    base: mintcream,
    light: lighten(mintcream, 10%)
  ),
  mistyrose: (
    base: mistyrose,
    light: lighten(mistyrose, 10%)
  ),
  moccasin: (
    base: moccasin,
    light: lighten(moccasin, 10%)
  ),
  navajowhite: (
    base: navajowhite,
    light: lighten(navajowhite, 10%)
  ),
  navy: (
    base: navy,
    light: navy(lightcyan, 10%)
  ),
  oldlace: (
    base: oldlace,
    light: lighten(oldlace, 10%)
  ),
  olive: (
    base: olive,
    light: lighten(olive, 10%)
  ),
  olivedrab: (
    base: olivedrab,
    light: lighten(olivedrab, 10%)
  ),
  orange: (
    base: orange,
    light: lighten(orange, 10%)
  ),
  orangered: (
    base: orangered,
    light: lighten(orangered, 10%)
  ),
  orchid: (
    base: orchid,
    light: lighten(orchid, 10%)
  ),
  palegoldenrod: (
    base: palegoldenrod,
    light: lighten(palegoldenrod, 10%)
  ),
  palegreen: (
    base: palegreen,
    light: lighten(palegreen, 10%)
  ),
  paleturquoise: (
    base: paleturquoise,
    light: lighten(paleturquoise, 10%)
  ),
  palevioletred: (
    base: palevioletred,
    light: lighten(palevioletred, 10%)
  ),
  papayawhip: (
    base: papayawhip,
    light: lighten(papayawhip, 10%)
  ),
  peachpuff: (
    base: peachpuff,
    light: lighten(peachpuff, 10%)
  ),
  peru: (
    base: peru,
    light: lighten(peru, 10%)
  ),
  pink: (
    base: pink,
    light: lighten(pink, 10%)
  ),
  plum: (
    base: plum,
    light: lighten(plum, 10%)
  ),
  powderblue: (
    base: powderblue,
    light: lighten(powderblue, 10%)
  ),
  purple: (
    base: purple,
    light: lighten(purple, 10%)
  ),
  beccapurple: (
    base: #663399,
    light: lighten(#663399, 10%)
  ),
  red: (
    base: red,
    light: lighten(red, 10%)
  ),
  rosybrown: (
    base: rosybrown,
    light: lighten(rosybrown, 10%)
  ),
  royalblue: (
    base: royalblue,
    light: lighten(royalblue, 10%)
  ),
  saddlebrown: (
    base: saddlebrown,
    light: lighten(saddlebrown, 10%)
  ),
  salmon: (
    base: salmon,
    light: lighten(salmon, 10%)
  ),
  sandybrown: (
    base: sandybrown,
    light: lighten(sandybrown, 10%)
  ),
  seagreen: (
    base: seagreen,
    light: lighten(seagreen, 10%)
  ),
  seashell: (
    base: seashell,
    light: lighten(seashell, 10%)
  ),
  sienna: (
    base: sienna,
    light: lighten(sienna, 10%)
  ),
  silver: (
    base: silver,
    light: lighten(silver, 10%)
  ),
  skyblue: (
    base: skyblue,
    light: lighten(skyblue, 10%)
  ),
  slateblue: (
    base: slateblue,
    light: lighten(slateblue, 10%)
  ),
  slategray: (
    base: slategray,
    light: lighten(slategray, 10%)
  ),
  snow: (
    base: snow,
    light: lighten(snow, 10%)
  ),
  springgreen: (
    base: springgreen,
    light: lighten(springgreen, 10%)
  ),
  steelblue: (
    base: steelblue,
    light: lighten(steelblue, 10%)
  ),
  tan: (
    base: tan,
    light: lighten(tan, 10%)
  ),
  teal: (
    base: teal,
    light: lighten(teal, 10%)
  ),
  thistle: (
    base: thistle,
    light: lighten(thistle, 10%)
  ),
  tomato: (
    base: tomato,
    light: lighten(tomato, 10%)
  ),
  turquoise: (
    base: turquoise,
    light: lighten(turquoise, 10%)
  ),
  violet: (
    base: violet,
    light: lighten(violet, 10%)
  ),
  wheat: (
    base: wheat,
    light: lighten(wheat, 10%)
  ),
  white: (
    base: white,
    light: lighten(white, 10%)
  ),
  whitesmoke: (
    base: whitesmoke,
    light: lighten(whitesmoke, 10%)
  ),
  yellow: (
    base: yellow,
    light: lighten(yellow, 10%)
  ),
  yellowgreen: (
    base: yellowgreen,
    light: lighten(yellowgreen, 10%)
  ),
);
