@function color($nombre-color, $grupo-color) {
  @return map-get(map-get($colores, $grupo-color), $nombre-color);
}

$colores: (

  aliceblue: (
    base: #F0F8FF,
    light: lighten(#F0F8FF, 10%)
  ),

  antiquewhite: (
    base: #FAEBD7,
    light: lighten(#FAEBD7, 10%)
  ),
  aqua: (
    base: #00FFFF,
    light: lighten(#00FFFF, 10%)
  ),
  aquamarine: (
    base: #7FFFD4,
    light: lighten(#7FFFD4, 10%)
  ),
  azure: (
    base: azure,
    light: lighten(azure, 10%)
  ),
  beccapurple: (
    base: #663399,
    light: lighten(#663399, 10%)
  ),
  beige: (
    base: #F5F5DC,
    light: lighten(#F5F5DC, 10%)
  ),
  bisque: (
    base: #F0FFFF,
    light: lighten(#F0FFFF, 10%)
  ),
  black: (
    base: #000,
    light: lighten(#000, 10%)
  ),
  blanchedalmond: (
    base: #FFEBCD,
    light: lighten(#FFEBCD, 10%)
  ),
  blue: (
    base: #0000FF,
    light: lighten(#0000FF, 10%)
  ),
  blueviolet: (
    base: #8A2BE2,
    light: lighten(#8A2BE2, 10%)
  ),
  brown: (
    base: #A52A2A,
    light: lighten(#A52A2A, 10%)
  ),
  burlywood: (
    base: #DEB887,
    light: lighten(#DEB887, 10%)
  ),
  cadetblue: (
    base: #5F9EA0,
    light: lighten(#5F9EA0, 10%)
  ),
  chartreuse: (
    base: #7FFF00,
    light: lighten(#7FFF00, 10%)
  ),
  chocolate: (
    base: #D2691E,
    light: lighten(#D2691E, 10%)
  ),
  coral: (
    base: #FF7F50,
    light: lighten(#FF7F50, 10%)
  ),
  cornflowerblue: (
    base: #6495ED,
    light: lighten(#6495ED, 10%)
  ),
  cornsilk: (
    base: #FFF8DC,
    light: lighten(#FFF8DC, 10%)
  ),
  crimson: (
    base: #DC143C,
    light: lighten(#DC143C, 10%)
  ),
  darkblue: (
    base: #00008B,
    light: lighten(#00008B, 10%)
  ),
  darkcyan: (
    base: #008B8B,
    light: lighten(#008B8B, 10%)
  ),
  darkgoldenrod: (
    base: #B8860B,
    light: lighten(#B8860B, 10%)
  ),
  darkgray: (
    base: #A9A9A9,
    light: lighten(#A9A9A9, 10%)
  ),
  darkgreen: (
    base: #006400,
    light: lighten(#006400, 10%)
  ),
  darkkhaki: (
    base: #BDB76B,
    light: lighten(#BDB76B, 10%)
  ),
  darkmagenta: (
    base: #8B008B,
    light: lighten(#8B008B, 10%)
  ),
  darkolivegreen: (
    base: #556B2F,
    light: lighten(#556B2F, 10%)
  ),
  darkorange: (
    base: #FF8C00,
    light: lighten(#FF8C00, 10%)
  ),
  darkorchid: (
    base: #9932CC,
    light: lighten(#9932CC, 10%)
  ),
  darkred: (
    base: #8B0000,
    light: lighten(#8B0000, 10%)
  ),
  darksalmon: (
    base: #E9967A,
    light: lighten(#E9967A, 10%)
  ),
  darkseagreen: (
    base: #8FBC8F,
    light: lighten(#8FBC8F, 10%)
  ),
  darkslateblue: (
    base: #483D8B,
    light: lighten(#483D8B, 10%)
  ),
  darkslategray: (
    base: #2F4F4F,
    light: lighten(#2F4F4F, 10%)
  ),
  darkturquoise: (
    base: #00CED1,
    light: lighten(#00CED1, 10%)
  ),
  darkviolet: (
    base: #9400D3,
    light: lighten(#9400D3, 10%)
  ),
  deeppink: (
    base: #FF1493,
    light: lighten(#FF1493, 10%)
  ),
  deepskyblue: (
    base: #00BFFF,
    light: lighten(#00BFFF, 10%)
  ),
  dimgray: (
    base: #696969,
    light: lighten(#696969, 10%)
  ),
  dodgerblue: (
    base: #1E90FF,
    light: lighten(#1E90FF, 10%)
  ),
  firebrick: (
    base: #B22222,
    light: lighten(#B22222, 10%)
  ),
  floralwhite: (
    base: #FFFAF0,
    light: lighten(#FFFAF0, 10%)
  ),
  forestgreen: (
    base: #228B22,
    light: lighten(#228B22, 10%)
  ),
  fuchsia: (
    base: #FF00FF,
    light: lighten(#FF00FF, 10%)
  ),
  gainsboro: (
    base: #DCDCDC,
    light: lighten(#DCDCDC, 10%)
  ),
  ghostwhite: (
    base: #F8F8FF,
    light: lighten(#F8F8FF, 10%)
  ),
  gold: (
    base: #FFD700,
    light: lighten(#FFD700, 10%)
  ),
  goldenrod: (
    base: #DAA520,
    light: lighten(#DAA520, 10%)
  ),
  gray: (
    base: #808080,
    light: lighten(#808080, 10%)
  ),
  green: (
    base: #008000,
    light: lighten(#008000, 10%)
  ),
  greenyellow: (
    base: #ADFF2F,
    light: lighten(#ADFF2F, 10%)
  ),
  honeydew: (
    base: #F0FFF0,
    light: lighten(#F0FFF0, 10%)
  ),
  hotpink: (
    base: #CD5C5C,
    light: lighten(#CD5C5C, 10%)
  ),
  indianred: (
    base: #CD5C5C,
    light: lighten(#CD5C5C, 10%)
  ),
  indigo: (
    base: #6B0082,
    light: lighten(#6B0082, 10%)
  ),
  ivory: (
    base: #FFFFF0,
    light: lighten(#FFFFF0, 10%)
  ),
  khaki: (
    base: #F0E68C,
    light: lighten(#F0E68C, 10%)
  ),
  lavender: (
    base: #E6E6FA,
    light: lighten(#E6E6FA, 10%)
  ),
  lavenderblush: (
    base: #FFF0F5,
    light: lighten(#FFF0F5, 10%)
  ),
  lawngreen: (
    base: #7CFC00,
    light: lighten(#7CFC00, 10%)
  ),
  lemonchiffon: (
    base: #FFFACD,
    light: lighten(#FFFACD, 10%)
  ),
  lightblue: (
    base: #ADD8E6,
    light: lighten(#ADD8E6, 10%)
  ),
  lightcoral: (
    base: #F08080,
    light: lighten(#F08080, 10%)
  ),
  lightcyan: (
    base: #E0FFFF,
    light: lighten(#E0FFFF, 10%)
  ),
  lightgoldenrodyellow: (
    base: #FAFAD2,
    light: lighten(#FAFAD2, 10%)
  ),
  lightgray: (
    base: #D3D3D3,
    light: lighten(#D3D3D3, 10%)
  ),
  lightgreen: (
    base: #90EE90,
    light: lighten(#90EE90, 10%)
  ),
  lightpink: (
    base: #FFB6C1,
    light: lighten(#FFB6C1, 10%)
  ),
  lightsalmon: (
    base: #FFA07A,
    light: lighten(#FFA07A, 10%)
  ),
  lightseagreen: (
    base: #20B2AA,
    light: lighten(#20B2AA, 10%)
  ),
  lightskyblue: (
    base: #87CEFA,
    light: lighten(#87CEFA, 10%)
  ),
  lightslategray: (
    base: #778899,
    light: lighten(#778899, 10%)
  ),
  lightsteelblue: (
    base: #B0C4DE,
    light: lighten(#B0C4DE, 10%)
  ),
  lightyellow: (
    base: #FFFFE0,
    light: lighten(#FFFFE0, 10%)
  ),
  lime: (
    base: #00FF00,
    light: lighten(#00FF00, 10%)
  ),
  limegreen: (
    base: #32CD32,
    light: lighten(#32CD32, 10%)
  ),
  linen: (
    base: #FAF0E6,
    light: lighten(#FAF0E6, 10%)
  ),
  maroon: (
    base: #800000,
    light: lighten(#800000, 10%)
  ),
  mediumaquamarine: (
    base: #66CDAA,
    light: lighten(#66CDAA, 10%)
  ),
  mediumblue: (
    base: #0000CD,
    light: lighten(#0000CD, 10%)
  ),
  mediumorchid: (
    base: #BA55D3,
    light: lighten(#BA55D3, 10%)
  ),
  mediumpurple: (
    base: #9370DB,
    light: #9370DB(lightcyan, 10%)
  ),
  mediumseagreen: (
    base: #3CB371,
    light: lighten(#3CB371, 10%)
  ),
  mediumslateblue: (
    base: #7B68EE,
    light: lighten(#7B68EE, 10%)
  ),
  mediumspringgreen: (
    base: #00FA9A,
    light: lighten(#00FA9A, 10%)
  ),
  mediumturquoise: (
    base: #48D1CC,
    light: lighten(#48D1CC, 10%)
  ),
  mediumvioletred: (
    base: #C71585,
    light: lighten(#C71585, 10%)
  ),
  midnightblue: (
    base: #191970,
    light: lighten(#191970, 10%)
  ),
  mintcream: (
    base: #F5FFFA,
    light: lighten(#F5FFFA, 10%)
  ),
  mistyrose: (
    base: #FFE4E1,
    light: lighten(#FFE4E1, 10%)
  ),
  moccasin: (
    base: #FFE4B5,
    light: lighten(#FFE4B5, 10%)
  ),
  navajowhite: (
    base: #FFDEAD,
    light: lighten(#FFDEAD, 10%)
  ),
  navy: (
    base: #000080,
    light: #000080(lightcyan, 10%)
  ),
  oldlace: (
    base: #FDF5E6,
    light: lighten(#FDF5E6, 10%)
  ),
  olive: (
    base: #808000,
    light: lighten(#808000, 10%)
  ),
  olivedrab: (
    base: #6B8E23,
    light: lighten(#6B8E23, 10%)
  ),
  orange: (
    base: #FFA500,
    light: lighten(#FFA500, 10%)
  ),
  orangered: (
    base: #FF4500,
    light: lighten(#FF4500, 10%)
  ),
  orchid: (
    base: #DA70D6,
    light: lighten(#DA70D6, 10%)
  ),
  palegoldenrod: (
    base: #EEE8AA,
    light: lighten(#EEE8AA, 10%)
  ),
  palegreen: (
    base: #98FB98,
    light: lighten(#98FB98, 10%)
  ),
  paleturquoise: (
    base: #AFEEEE,
    light: lighten(#AFEEEE, 10%)
  ),
  palevioletred: (
    base: #DB7093,
    light: lighten(#DB7093, 10%)
  ),
  papayawhip: (
    base: #FFEFD5,
    light: lighten(#FFEFD5, 10%)
  ),
  peachpuff: (
    base: #FFDAB9,
    light: lighten(#FFDAB9, 10%)
  ),
  peru: (
    base: #CD853F,
    light: lighten(#CD853F, 10%)
  ),
  pink: (
    base: #FFC0CB,
    light: lighten(#FFC0CB, 10%)
  ),
  plum: (
    base: #DDA0DD,
    light: lighten(#DDA0DD, 10%)
  ),
  powderblue: (
    base: #B0E0E6,
    light: lighten(#B0E0E6, 10%)
  ),
  purple: (
    base: #800080,
    light: lighten(#800080, 10%)
  ),
  red: (
    base: #FF0000,
    light: lighten(#FF0000, 10%)
  ),
  rosybrown: (
    base: #BC8F8F,
    light: lighten(#BC8F8F, 10%)
  ),
  royalblue: (
    base: #4169E1,
    light: lighten(#4169E1, 10%)
  ),
  saddlebrown: (
    base: #8B4513,
    light: lighten(#8B4513, 10%)
  ),
  salmon: (
    base: #FFA07A,
    light: lighten(#FFA07A, 10%)
  ),
  sandybrown: (
    base: #F4A460,
    light: lighten(#F4A460, 10%)
  ),
  seagreen: (
    base: #20B2AA,
    light: lighten(#20B2AA, 10%)
  ),
  seashell: (
    base: #FFF5EE,
    light: lighten(#FFF5EE, 10%)
  ),
  sienna: (
    base: #A0522D,
    light: lighten(#A0522D, 10%)
  ),
  silver: (
    base: #C0C0C0,
    light: lighten(#C0C0C0, 10%)
  ),
  skyblue: (
    base: #87CEEB,
    light: lighten(#87CEEB, 10%)
  ),
  slateblue: (
    base: #7B68EE,
    light: lighten(#7B68EE, 10%)
  ),
  slategray: (
    base: #708090,
    light: lighten(#708090, 10%)
  ),
  snow: (
    base: #FFFAFA,
    light: lighten(#FFFAFA, 10%)
  ),
  springgreen: (
    base: #00FF7F,
    light: lighten(#00FF7F, 10%)
  ),
  steelblue: (
    base: #4682B4,
    light: lighten(#4682B4, 10%)
  ),
  tan: (
    base: #D2B48C,
    light: lighten(#D2B48C, 10%)
  ),
  teal: (
    base: #008080,
    light: lighten(#008080, 10%)
  ),
  thistle: (
    base: #D8BFD8,
    light: lighten(#D8BFD8, 10%)
  ),
  tomato: (
    base: #FF6347,
    light: lighten(#FF6347, 10%)
  ),
  turquoise: (
    base: #40E0D0,
    light: lighten(#40E0D0, 10%)
  ),
  violet: (
    base: #EE82EE,
    light: lighten(#EE82EE, 10%)
  ),
  wheat: (
    base: #F5DEB3,
    light: lighten(#F5DEB3, 10%)
  ),
  white: (
    base: #FFFFFF,
    light: lighten(#FFFFFF, 10%)
  ),
  whitesmoke: (
    base: #F5F5F5,
    light: lighten(#F5F5F5, 10%)
  ),
  yellow: (
    base: #FFFF00,
    light: lighten(#FFFF00, 10%)
  ),
  yellowgreen: (
    base: #9ACD32,
    light: lighten(#9ACD32, 10%)
  ),
);
