@import "reset";
@import "color";

/* ==========================================================================
Variables
========================================================================== */

$fira: "fira-sans",sans-serif;
$fira2: "fira-sans-2",sans-serif;
$navy: #001F3F;
$silver: #DDDDDD;

/* ==========================================================================
STYLES SVG SOCIAL ICONS
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: color(base, aqua);
}


.keywords-header {
	background-color: lighten($silver, 10%);
	width: 100%;
	.keywords-header-titulo {
		font-size: 40px;
		font-family: $fira2;
		font-weight: 500;
		color: $navy;
		text-align: center;
		display: block;
		margin: 0 auto;
		padding-top: 30px;
	}
	.keywords-header-iconos {
		display: block;
		width: 60%;
		margin: 0 auto;
		margin-top: 50px;
		text-align: center;
		padding-bottom: 100px;
		svg {
			width: 50px;
			height: 50px;
			padding: 0 5px;
			box-sizing: border-box;
		}
	}
}

.keywords-footer {
	font-size: 0;
	box-sizing: border-box;
	background-color: lighten($silver, 10%);
	button {
		border: 0;
		width: 90/10 * 1%;
		margin: 5px 0.5%;
		display: inline-block;
		-webkit-appearance: none;
		font-family: $fira;
		font-weight: 300;
		font-size: 12px;
		color: $navy;
		box-sizing: border-box;
		padding: 10px;
	}
}

.aliceblue {
	color: color(base, aliceblue);
	&:hover {
		color: color(light, aliceblue);
	}
}
.antiquewhite {
	color: color(base, antiquewhite);
	&:hover {
		color: color(light, antiquewhite);
	}
}
.aqua {
	color: color(base, aqua);
	&:hover {
		color: color(light, aqua);
	}
}
.aquamarine {
	color: color(base, aquamarine);
	&:hover {
		color: color(light, aquamarine);
	}
}
.azure {
	color: color(base, azure);
	&:hover {
		color: color(light, azure);
	}
}
.beccapurple {
	color: color(base, beccapurple);
	&:hover {
		color: color(light, beccapurple);
	}
}
.beige {
	color: color(base, beige);
	&:hover {
		color: color(light, beige);
	}
}
.bisque {
	color: color(base, bisque);
	&:hover {
		color: color(light, bisque);
	}
}
.black {
	color: color(base, black);
	&:hover {
		color: color(light, black);
	}
}
.blanchedalmond {
	color: color(base, blanchedalmond);
	&:hover {
		color: color(light, blanchedalmond);
	}
}
.blue {
	color: color(base, blue);
	&:hover {
		color: color(light, blue);
	}
}
.blueviolet {
	color: color(base, blueviolet);
	&:hover {
		color: color(light, blueviolet);
	}
}
.brown {
	color: color(base, brown);
	&:hover {
		color: color(light, brown);
	}
}
.burlywood {
	color: color(base, burlywood);
	&:hover {
		color: color(light, burlywood);
	}
}
.cadetblue {
	color: color(base, cadetblue);
	&:hover {
		color: color(light, cadetblue);
	}
}
.chartreuse {
	color: color(base, chartreuse);
	&:hover {
		color: color(light, chartreuse);
	}
}
.chocolate {
	color: color(base, chocolate);
	&:hover {
		color: color(light, chocolate);
	}
}
.coral {
	color: color(base, coral);
	&:hover {
		color: color(light, coral);
	}
}
.cornflowerblue {
	color: color(base, cornflowerblue);
	&:hover {
		color: color(light, cornflowerblue);
	}
}
.cornsilk {
	color: color(base, cornsilk);
	&:hover {
		color: color(light, cornsilk);
	}
}
.crimson {
	color: color(base, crimson);
	&:hover {
		color: color(light, crimson);
	}
}
.cyan {
	color: color(base, cyan);
	&:hover {
		color: color(light, cyan);
	}
}
.darkblue {
	color: color(base, darkblue);
	&:hover {
		color: color(light, darkblue);
	}
}
.darkcyan {
	color: color(base, darkcyan);
	&:hover {
		color: color(light, darkcyan);
	}
}
.darkgoldenrod {
	color: color(base, darkgoldenrod);
	&:hover {
		color: color(light, darkgoldenrod);
	}
}
.darkgray {
	color: color(base, darkgray);
	&:hover {
		color: color(light, darkgray);
	}
}
.darkgreen {
	color: color(base, darkgreen);
	&:hover {
		color: color(light, darkgreen);
	}
}
.darkkhaki {
	color: color(base, darkkhaki);
	&:hover {
		color: color(light, darkkhaki);
	}
}
.darkmagenta {
	color: color(base, darkmagenta);
	&:hover {
		color: color(light, darkmagenta);
	}
}
.darkolivegreen {
	color: color(base, darkolivegreen);
	&:hover {
		color: color(light, darkolivegreen);
	}
}
.darkorange {
	color: color(base, darkorange);
	&:hover {
		color: color(light, darkorange);
	}
}
.darkorchid {
	color: color(base, darkorchid);
	&:hover {
		color: color(light, darkorchid);
	}
}
.darkred {
	color: color(base, darkred);
	&:hover {
		color: color(light, darkred);
	}
}
.darksalmon {
	color: color(base, darksalmon);
	&:hover {
		color: color(light, darksalmon);
	}
}
.darkseagreen {
	color: color(base, darkseagreen);
	&:hover {
		color: color(light, darkseagreen);
	}
}
.darkslateblue {
	color: color(base, darkslateblue);
	&:hover {
		color: color(light, darkslateblue);
	}
}
.darkslategray {
	color: color(base, darkslategray);
	&:hover {
		color: color(light, darkslategray);
	}
}
.darkslategrey {
	color: color(base, darkslategrey);
	&:hover {
		color: color(light, darkslategrey);
	}
}
.darkturquoise {
	color: color(base, darkturquoise);
	&:hover {
		color: color(light, darkturquoise);
	}
}
.darkviolet {
	color: color(base, darkviolet);
	&:hover {
		color: color(light, darkviolet);
	}
}
.deeppink {
	color: color(base, deeppink);
	&:hover {
		color: color(light, deeppink);
	}
}
.deepskyblue {
	color: color(base, deepskyblue);
	&:hover {
		color: color(light, deepskyblue);
	}
}
.dimgray {
	color: color(base, dimgray);
	&:hover {
		color: color(light, dimgray);
	}
}
.dimgrey {
	color: color(base, dimgrey);
	&:hover {
		color: color(light, dimgrey);
	}
}
.dodgerblue {
	color: color(base, dodgerblue);
	&:hover {
		color: color(light, dodgerblue);
	}
}
.firebrick {
	color: color(base, firebrick);
	&:hover {
		color: color(light, firebrick);
	}
}
.floralwhite {
	color: color(base, floralwhite);
	&:hover {
		color: color(light, floralwhite);
	}
}
.forestgreen {
	color: color(base, forestgreen);
	&:hover {
		color: color(light, forestgreen);
	}
}
.fuchsia {
	color: color(base, fuchsia);
	&:hover {
		color: color(light, fuchsia);
	}
}
.gainsboro {
	color: color(base, gainsboro);
	&:hover {
		color: color(light, gainsboro);
	}
}
.ghostwhite {
	color: color(base, ghostwhite);
	&:hover {
		color: color(light, ghostwhite);
	}
}
.gold {
	color: color(base, gold);
	&:hover {
		color: color(light, gold);
	}
}
.goldenrod {
	color: color(base, goldenrod);
	&:hover {
		color: color(light, goldenrod);
	}
}
.gray {
	color: color(base, gray);
	&:hover {
		color: color(light, gray);
	}
}
.grey {
	color: color(base, grey);
	&:hover {
		color: color(light, grey);
	}
}
.green {
	color: color(base, green);
	&:hover {
		color: color(light, green);
	}
}
.greenyellow {
	color: color(base, greenyellow);
	&:hover {
		color: color(light, greenyellow);
	}
}
.honeydew {
	color: color(base, honeydew);
	&:hover {
		color: color(light, honeydew);
	}
}
.hotpink {
	color: color(base, hotpink);
	&:hover {
		color: color(light, hotpink);
	}
}
.indianred {
	color: color(base, indianred);
	&:hover {
		color: color(light, indianred);
	}
}
.indigo {
	color: color(base, indigo);
	&:hover {
		color: color(light, indigo);
	}
}
.ivory  {
	color: color(base, ivory);
	&:hover {
		color: color(light, ivory);
	}
}
.khaki {
	color: color(base, khaki);
	&:hover {
		color: color(light, khaki);
	}
}
.lavender {
	color: color(base, lavender);
	&:hover {
		color: color(light, lavender);
	}
}
.lavenderblush {
	color: color(base, lavenderblush);
	&:hover {
		color: color(light, lavenderblush);
	}
}
.lawngreen {
	color: color(base, lawngreen);
	&:hover {
		color: color(light, lawngreen);
	}
}
.lemonchiffon {
	color: color(base, lemonchiffon);
	&:hover {
		color: color(light, lemonchiffon);
	}
}
.lightblue {
	color: color(base, lightblue);
	&:hover {
		color: color(light, lightblue);
	}
}
.lightcoral {
	color: color(base, lightcoral);
	&:hover {
		color: color(light, lightcoral);
	}
}
.lightcyan {
	color: color(base, lightcyan);
	&:hover {
		color: color(light, lightcyan);
	}
}
.lightgoldenrodyellow {
	color: color(base, lightgoldenrodyellow);
	&:hover {
		color: color(light, lightgoldenrodyellow);
	}
}
.lightgreen {
	color: color(base, lightgreen);
	&:hover {
		color: color(light, lightgreen);
	}
}
.lightgrey {
	color: color(base, lightgrey);
	&:hover {
		color: color(light, lightgrey);
	}
}
.lightpink {
	color: color(base, lightpink);
	&:hover {
		color: color(light, lightpink);
	}
}
.lightsalmon {
	color: color(base, lightsalmon);
	&:hover {
		color: color(light, lightsalmon);
	}
}
.lightseagreen {
	color: color(base, lightseagreen);
	&:hover {
		color: color(light, lightseagreen);
	}
}
.lightskyblue {
	color: color(base, lightskyblue);
	&:hover {
		color: color(light, lightskyblue);
	}
}
.lightslategray {
	color: color(base, lightslategray);
	&:hover {
		color: color(light, lightslategray);
	}
}
.lightgray {
	color: color(base, lightgray);
	&:hover {
		color: color(light, lightgray);
	}
}
.lightsteelblue {
	color: color(base, lightsteelblue);
	&:hover {
		color: color(light, lightsteelblue);
	}
}
.lightyellow {
	color: color(base, lightyellow);
	&:hover {
		color: color(light, lightyellow);
	}
}
.lime {
	color: color(base, lime);
	&:hover {
		color: color(light, lime);
	}
}
.limegreen {
	color: color(base, limegreen);
	&:hover {
		color: color(light, limegreen);
	}
}
.linen {
	color: color(base, linen);
	&:hover {
		color: color(light, linen);
	}
}
.magenta {
	color: color(base, magenta);
	&:hover {
		color: color(light, magenta);
	}
}
.maroon {
	color: color(base, maroon);
	&:hover {
		color: color(light, maroon);
	}
}
.mediumaquamarine {
	color: color(base, mediumaquamarine);
	&:hover {
		color: color(light, mediumaquamarine);
	}
}
.mediumblue {
	color: color(base, mediumblue);
	&:hover {
		color: color(light, mediumblue);
	}
}
.mediumorchid {
	color: color(base, mediumorchid);
	&:hover {
		color: color(light, mediumorchid);
	}
}
.mediumpurple {
	color: color(base, mediumpurple);
	&:hover {
		color: color(light, mediumpurple);
	}
}
.mediumseagreen {
	color: color(base, mediumseagreen);
	&:hover {
		color: color(light, mediumseagreen);
	}
}
.mediumslateblue {
	color: color(base, mediumslateblue);
	&:hover {
		color: color(light, mediumslateblue);
	}
}
.mediumspringgreen {
	color: color(base, mediumspringgreen);
	&:hover {
		color: color(light, mediumspringgreen);
	}
}
.mediumturquoise {
	color: color(base, mediumturquoise);
	&:hover {
		color: color(light, mediumturquoise);
	}
}
.mediumvioletred {
	color: color(base, mediumvioletred);
	&:hover {
		color: color(light, mediumvioletred);
	}
}
.midnightblue {
	color: color(base, midnightblue);
	&:hover {
		color: color(light, midnightblue);
	}
}
.mintcream {
	color: color(base, mintcream);
	&:hover {
		color: color(light, mintcream);
	}
}
.mistyrose {
	color: color(base, mistyrose);
	&:hover {
		color: color(light, mistyrose);
	}
}
.moccasin {
	color: color(base, moccasin);
	&:hover {
		color: color(light, moccasin);
	}
}
.navajowhite {
	color: color(base, navajowhite);
	&:hover {
		color: color(light, navajowhite);
	}
}
.navy {
	color: color(base, navy);
	&:hover {
		color: color(light, navy);
	}
}
.oldlace {
	color: color(base, oldlace);
	&:hover {
		color: color(light, oldlace);
	}
}
.olive {
	color: color(base, olive);
	&:hover {
		color: color(light, olive);
	}
}
.olivedrab {
	color: color(base, olivedrab);
	&:hover {
		color: color(light, olivedrab);
	}
}
.orange {
	color: color(base, orange);
	&:hover {
		color: color(light, orange);
	}
}
.orangered {
	color: color(base, orangered);
	&:hover {
		color: color(light, orangered);
	}
}
.orchid {
	color: color(base, orchid);
	&:hover {
		color: color(light, orchid);
	}
}
.palegoldenrod {
	color: color(base, palegoldenrod);
	&:hover {
		color: color(light, palegoldenrod);
	}
}
.palegreen {
	color: color(base, palegreen);
	&:hover {
		color: color(light, palegreen);
	}
}
.paleturquoise {
	color: color(base, paleturquoise);
	&:hover {
		color: color(light, paleturquoise);
	}
}
.palevioletred {
	color: color(base, palevioletred);
	&:hover {
		color: color(light, palevioletred);
	}
}
.papayawhip {
	color: color(base, papayawhip);
	&:hover {
		color: color(light, papayawhip);
	}
}
.peachpuff {
	color: color(base, peachpuff);
	&:hover {
		color: color(light, peachpuff);
	}
}
.peru {
	color: color(base, peru);
	&:hover {
		color: color(light, peru);
	}
}
.pink {
	color: color(base, pink);
	&:hover {
		color: color(light, pink);
	}
}
.plum {
	color: color(base, plum);
	&:hover {
		color: color(light, plum);
	}
}
.powderblue {
	color: color(base, powderblue);
	&:hover {
		color: color(light, powderblue);
	}
}
.purple {
	color: color(base, purple);
	&:hover {
		color: color(light, purple);
	}
}
.red {
	color: color(base, red);
	&:hover {
		color: color(light, red);
	}
}
.rosybrown {
	color: color(base, rosybrown);
	&:hover {
		color: color(light, rosybrown);
	}
}
.royalblue {
	color: color(base, royalblue);
	&:hover {
		color: color(light, royalblue);
	}
}
.saddlebrown {
	color: color(base, saddlebrown);
	&:hover {
		color: color(light, saddlebrown);
	}
}
.salmon {
	color: color(base, salmon);
	&:hover {
		color: color(light, salmon);
	}
}
.sandybrown {
	color: color(base, sandybrown);
	&:hover {
		color: color(light, sandybrown);
	}
}
.seagreen {
	color: color(base, seagreen);
	&:hover {
		color: color(light, seagreen);
	}
}
.seashell {
	color: color(base, seashell);
	&:hover {
		color: color(light, seashell);
	}
}
.sienna {
	color: color(base, sienna);
	&:hover {
		color: color(light, sienna);
	}
}
.silver {
	color: color(base, silver);
	&:hover {
		color: color(light, silver);
	}
}
.skyblue {
	color: color(base, skyblue);
	&:hover {
		color: color(light, skyblue);
	}
}
.slateblue {
	color: color(base, slateblue);
	&:hover {
		color: color(light, slateblue);
	}
}
.slategray {
	color: color(base, slategray);
	&:hover {
		color: color(light, slategray);
	}
}
.slategrey {
	color: color(base, slategrey);
	&:hover {
		color: color(light, slategrey);
	}
}
.snow {
	color: color(base, snow);
	&:hover {
		color: color(light, snow);
	}
}
.springgreen {
	color: color(base, springgreen);
	&:hover {
		color: color(light, springgreen);
	}
}
.steelblue {
	color: color(base, steelblue);
	&:hover {
		color: color(light, steelblue);
	}
}
.tan {
	color: color(base, tan);
	&:hover {
		color: color(light, tan);
	}
}
.teal {
	color: color(base, teal);
	&:hover {
		color: color(light, teal);
	}
}
.thistle {
	color: color(base, thistle);
	&:hover {
		color: color(light, thistle);
	}
}
.tomato {
	color: color(base, tomato);
	&:hover {
		color: color(light, tomato);
	}
}
.turquoise {
	color: color(base, turquoise);
	&:hover {
		color: color(light, turquoise);
	}
}
.violet {
	color: color(base, violet);
	&:hover {
		color: color(light, violet);
	}
}
.wheat {
	color: color(base, wheat);
	&:hover {
		color: color(light, wheat);
	}
}
.white {
	color: color(base, white);
	&:hover {
		color: color(light, white);
	}
}
.whitesmoke {
	color: color(base, whitesmoke);
	&:hover {
		color: color(light, whitesmoke);
	}
}
.yellow {
	color: color(base, yellow);
	&:hover {
		color: color(light, yellow);
	}
}
.yellowgreen {
	color: color(base, yellowgreen);
	&:hover {
		color: color(light, yellowgreen);
	}
}
