.sol {
  motion-path: path('M-43,389c192.8-230.5,382.2-177.7,570,0');
  animation-name: rotando;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  transform-origin: 50% 50%;
  motion-rotation: reverse;
}

.nube-alta {
  motion-path: path('M-42,238l310-9h268');
  animation-name: rotando;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  transform-origin: 50% 50%;
  motion-rotation: reverse;
}

.nube-baja {
  motion-path: path('M-34,283h292h262');
  animation-name: rotando;
  animation-duration: 20s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  transform-origin: 50% 50%;
  motion-rotation: 4deg;
}

svg {
  background-color: #9DBBC3;
}


.llamas {
-webkit-transform-origin: 50% 50%;
   -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
     -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
-webkit-animation: llamas 20s linear 5 forwards;
   -moz-animation: llamas 20s linear 5 forwards;
     -o-animation: llamas 20s linear 5 forwards;
        animation: llamas 20s linear 5 forwards;
}

.llamas-reverso {
-webkit-transform-origin: 50% 50%;
   -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
     -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
-webkit-animation: llamas2 20s linear 5 forwards;
   -moz-animation: llamas2 20s linear 5 forwards;
     -o-animation: llamas2 20s linear 5 forwards;
        animation: llamas2 20s linear 5 forwards;
}

@keyframes rotando {

  0% {
    motion-offset: 0%;
    motion-rotation: 0deg;
  }

  50% {
    motion-offset: 100%;
    motion-rotation: 180deg;
  }

  100% {
    motion-offset: 0%;
    motion-rotation: 0deg;
  }

}


/*LLAMAS GIRANDO*/

@-webkit-keyframes llamas {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

@-moz-keyframes llamas {
    from {
      -moz-transform: rotate(0deg);
           transform: rotate(0deg);
    }

    to {
      -moz-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}

@-o-keyframes llamas {
    from {
      -o-transform: rotate(0deg);
         transform: rotate(0deg);
    }

    to {
      -o-transform: rotate(360deg);
         transform: rotate(360deg);
    }
}

@keyframes llamas {
    from {
      -webkit-transform: rotate(0deg);
         -moz-transform: rotate(0deg);
           -o-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
         -moz-transform: rotate(360deg);
           -o-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

/*LLAMAS AL REVES*/

@-webkit-keyframes llamas2 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
}

@-moz-keyframes llamas2 {
    from {
      -moz-transform: rotate(0deg);
           transform: rotate(0deg);
    }

    to {
      -moz-transform: rotate(-360deg);
           transform: rotate(-360deg);
    }
}

@-o-keyframes llamas2 {
    from {
      -o-transform: rotate(0deg);
         transform: rotate(0deg);
    }

    to {
      -o-transform: rotate(-360deg);
         transform: rotate(-360deg);
    }
}

@keyframes llamas2 {
    from {
      -webkit-transform: rotate(0deg);
         -moz-transform: rotate(0deg);
           -o-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(-360deg);
         -moz-transform: rotate(-360deg);
           -o-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
}