@import url(http://fonts.googleapis.com/css?family=Roboto:300);

text {
font-family: 'Roboto', sans-serif;
font-size:16px;
letter-spacing:1px;
}

body, html {
  height: 100%;
  background-color:#bdc3c7;
}

.sovog {
  margin: 20px auto;
  display: block;
}