@import 'reset';

$btn-bgc: rgba(255, 255, 255, 0.5);


#contenedor-logo {
	display: none;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 35%;
	svg {
		display: block;
		margin: 0 auto;
		#logo {
		      transform-origin: 50% 50%;
	    }
	}
	.logo-boton {
		cursor: pointer;
		border: 1px solid crimson;
		padding: 20px;
		background-color: transparent;
		display: block;
		margin: 0 auto;
		-webkit-transition: all .5s ease-in;
		transition: all .5s ease-in;
		&:hover {
			background: $btn-bgc;
		}
		.logo-boton-texto {
			font-family: 'Work Sans', sans-serif;
		}
	}
}