@import 'reset';

//Variables
$btn-bgc: rgba(255, 255, 255, 0.5);


#contenedor-logo {
	display: none;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	svg {
		display: block;
		margin: 0 auto;
		#logo {
			-webkit-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-moz-transform-origin: 86px 80px;
	    }
	}
	.logo-boton {
		cursor: pointer;
		border: 1px solid crimson;
		padding: 20px;
		background-color: transparent;
		display: block;
		margin: 0 auto;
		-webkit-transition: all .5s ease-in;
		transition: all .5s ease-in;
		&:hover {
			background: $btn-bgc;
		}
		.logo-boton-texto {
			font-family: 'Work Sans', sans-serif;
		}
	}
}

*:focus {
    outline: 0;
}

//Fix rotacion firefox

.fff {
-moz-transform: translate(50px,50px);
}
.fff logo {
-moz-transform: translate(-50px,-50px);
}
